<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename = 'main.css')}}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock %}- Frankophilia</title>
</head>
<body>
<header>
    <div class="container">
    
    <img src="{{url_for('static', filename='images/frank_head.jpg')}}" alt="logo" class="logo">

<div class="title">
<h1>
Frankophilia
</h1>
</div>

    <nav>

    <ul>

    <li><a href="{{url_for('home')}}">
          <button class="button">Home</button>
      </a>
    </li>

    <li>
      <a href="{{url_for('early')}}">
          <button class="button">Origins</button>
      </a>
    </li>
    
   

    <li>
      <a href="{{url_for('legacy')}}">
          <button class="button">Legacy</button>
      </a>
    </li>

    <li>
      <a href="{{url_for('contact')}}">
          <button class="button">Contact</button>
      </a>
    </li>

   

    </ul>
    </nav>

</div>
</header>
    {% block content %}
    {% endblock %} 

  