{%extends 'base.html'%}

{%block content %}

<h2>{% block title %} Documentary {%endblock%}</h2>
<section> 



<div>
    <img src="{{url_for('static', filename='images/frank_being.jpg')}}" alt="Frank Documentary" class="frankbeing" style="display:inline-block;vertical-align:top;">
    </div>


<div class="box">
<p>
    After 7 years in the making, what we regard to be the definitive account of the life of Chris Sievey and Frank Sidebottom was released, in March 2019.
<br>
<br>

    Initially funded by a successful  ‘Kickstarter’ campaign, BEING FRANK: THE CHRIS SIEVEY STORY premiered at SOUTH BY SOUTHWEST Film Festival in Austin, Texas in 2018.  It has been critically acclaimed and is fully endorsed by the Sievey Estate.
    <br>
    <br>
    
    
    Utilising vintage archive footage, cut together with newly-filmed interviews with family members and the people that were closest to him, film-maker Steve Sullivan has managed to create an honest and intimate documentary that is simultaneously hilarious, sad, emotional and most importantly, inspiring.
    <br>
<br>
     
     Steve was granted temporary custody of the Sievey/Sidebottom archive when it was destined for the local dump, as Chris’s house needed to be emptied. At the eleventh hour, it was heroically rescued by Chris’s elder brother Martin Sievey, who had the foresight to see what a travesty it was to throw this collection away. After a couple of phone calls it was agreed the archive would go into Steve’s care.

     <br>
     <br>
     The project was tackled as if it was a detective enquiry and paper trail. Lists of people to hunt down were made, people were interviewed, various things would be mentioned and then evidence would be discovered within the archive to corroborate and/or illustrate the stories. There are literally hundreds of audio cassettes, VHS tapes, reel to reel tapes, photos, documents and artwork in the archive. Without access to this material, Chris’s virtually untold true story would have remained uncovered.

    
<iframe width="560" height="315" src="https://www.youtube.com/embed/_wHcHaPkYnw" title="YouTube video player" class="doctrailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

     <br>
     <br>
     It was an artistic challenge to make a commercially-viable film (ideally no longer than 90 minutes) about two completely separate personalities that led such full, complicated (not to mention secretive) and interesting lives. The first cut of the documentary was eleven and a half hours long and was watched by a few close associates, broken down into three sittings.

 
     <br>
     <br>
     The theatrical release clocks in at 102 minutes duration but the Blu-Ray and DVD editions are crammed full of extra deleted scenes and extended footage.
</p>

</div>
</section>

{%endblock%}
