{%extends 'base.html'%}

{%block content %}

<h2>{% block title %} Early Years {%endblock%}</h2>
<section></section> <article></article>


<img src="{{url_for('static', filename='images/frank_windy.jpg')}}" alt= "wind swept frank" class="frankwind" style="width:50%">
<div class="box">
<p>
   
    At age 35, Frank Sidebottom shot to stardom in the most unlikely of circumstances: broadcasting from his garden shed. In between shopping trips in Timperley for his mum, he and his puppet Little Frank captured the imagination of the nation with his ‘Frank’s Fantastic Shed Show’ TV series and an ongoing presence in weekly music paper, the NME.
    <br>
    <br>
     
    
    Frank made regular appearances on North West television and national Saturday morning kids’ TV throughout the late 1980s and early 1990s. Frank broadcast ‘Radio Timperley’ on Manchester’s Piccadilly Radio and ‘Frank’s World’ on BBC Radio, and he published his own comic strip in the children’s weekly comic Oink!
    
    <br>
    <br>
    
    As he toured the country, Frank thrilled audiences with his covers of Queen, Kylie Minogue and Beatles songs and his absurdist- yet-family-friendly brand of showbiz, punctuated by a raffle to win some cardboard.
    
    <br>
    <br>
    
    Frank’s body of work spans all artistic media, and he is widely recognized as the greatest semi-professional entertainer and turtle owner the village of Timperley has ever known.
</p> 
</div>

{%endblock%}