{%extends 'base.html'%}

{%block content %}

<h2>{% block title %} Home {%endblock%}</h2>

<img src="{{url_for('static', filename='images/frank_question.jpg')}}" alt= "Frank looking inquizitive" class="indexphoto" style="width:50%">



<div class="boxindex">
<p>
    Welcome to the digital fan scrapbook for Frank Sidebottom A.K.A. Chris Sievey! Frankophilia is an ace, fantastic and top website... why not waste some valuable time by pointing your mouse at the buttons across the top of the page?
</p>
</div>



    

      
  
   

      
  
     
  
    

{%endblock%}

