{%extends 'base.html'%}

{%block content %}

<h2>{% block title %} Legacy {%endblock%}</h2>
<section> <article></article>

    <img src="{{url_for('static', filename='images/frank_statue.jpg')}}" alt="Frank Statue" class="frankstatue">


    <div class="box">   
<p>
    After almost 3 years of relentless fundraising, a life-size bronze statue of Frank Sidebottom was finally unveiled at precisely 11:37am, on Sunday, 20th October, 2013.
<br>
<br>

    Town planners at Trafford Council approved the plans using delegated powers, after receiving just one objection. Timperley councilor Neil Taylor, who was the driving force behind the campaign, said: “All monies were raised and donated by fans, with not a penny taken from the public purse, nothing taken in the way of grants, and nothing taken away from any other good cause. The official unveiling of the statue was the climax of a challenging campaign, quite like no other.”
    <br>
    <br>
    ​
    
    The £20,000 statue was based on an initial concept design by Chester-based sculptor Colin Spofforth, who had previously designed a number of public artworks through-out the North West.
    <br>
    <br>

    
    The 5 foot 8 inches tall sculpture was then commissioned to be lovingly crafted and painted by Paulina Skavova, a graduate of Prague Academy of Fine Arts. The work was completed over a 6 month period at a foundry in Horni Kalna in the Hradec Králové region of the Czech Republic. The ‘likeness’ was achieved by taking a cast from a replica head created by Dogsbody D.A., with the help of some 3D scanning technology, applied to the original head.
    <br>
    <br>
    
    7/19
    Upon completion, the statue was transported by van 1,100 miles to be erected, pride of place, in Timperley village.
    <br>
    <br>
     
    
    The unveiling ceremony was an unforgettably surreal and theatrical event. An unscheduled police road closure was required due to mounting fears for the safety of the unprecedented number of people who turned up to witness the occasion. Possibly the largest ever street gathering in Timperley village and for one day only, an actual occurrence of “Anarchy in Timperley”…Chris would have been proud. The statue was revealed by Chris Sievey’s three children: Stirling, Asher and Harry.
    <br>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/8atC3le2ojc" class="video" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    A local Scouts brass band provided a fittingly quirky live soundtrack to the proceedings, playing a specially notated version of “Guess who’s been on Match of the Day?” and a giant cheque for £1137 was handed over to Marie Curie Cancer Care, alongside further charity collections made on the day.
    <br>
    
    <br>
    The public statue stands on the crossroads between Stockport Road and Park Road in Timperley village.
</p>
</div> 

</section>

{%endblock%}



