@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

.topnav {
    font-family: 'Titillium Web', sans-serif; 
    color: #2c1b15;
    background-color: #de890d;
    font-size: 68px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 1px;
    text-align: center;
    padding-top: 16px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
        }

h2 {
    font-family: 'Titillium Web', sans-serif; 
    color: #2c1b15;
    text-align: center
}

body {
    background-color: ;
        }

.button {
          font-size: 16px;
          font-weight: 200;
          letter-spacing: 1px;
          padding: 13px 20px 13px;
          outline: 0;
          border: 1px solid black;
          cursor: pointer;
          position: relative;
          background-color: pink;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
        }
        
.button:after {
          content: "";
          background-color: #ffe54c;
          width: 100%;
          z-index: -1;
          position: absolute;
          height: 100%;
          top: 7px;
          left: 7px;
          transition: 0.2s;
        }
        
        .button:hover:after {
          top: 0px;
          left: 0px;
        }
        
        @media (min-width: 768px) {
          .button {
            padding: 13px 50px 13px;
          }
        }

img.frank_test {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

p {
    font-family: 'Titillium Web', sans-serif; 
    color: #2c1b15;
    background-color: #d7ad8c;
        }

  /* CSV */
/*3c312a,986952,e2dfd8,ba8d06,d7ad8c,de890d,2c1b15,202429,949796,9e807f

