@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #9e807f ;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #1370AF;
  position: relative;
}

header::after{
content:'';
display: table;
clear: both;
}

.logo {
  float:left;
  object-fit: contain;
  width: 90px;
  height: 90px;
}


nav {
  position:absolute;
  bottom: 0;
  right: 0;
}

nav ul {
  margin:0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
}


.title {font-family: 'Titillium Web', sans-serif; 
  color: #FCF30A;
  text-align: center;
  padding: 5px;
  display:inline
}
    
h2 {
    font-family: 'Titillium Web', sans-serif; 
    color: #FCF30A;
    text-align: center
}

.button {
  font-family: 'Courier New', sans-serif; 
          font-size: 16px;
          font-weight: 200;
          letter-spacing: 1px;
          padding: 13px 20px 13px;
          outline: 0;
          border: 1px solid black;
          cursor: pointer;
          position: relative;
          background-color: white;
        
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
          text-transform: uppercase;
        }
        
.button:after {
          content: "";
          background-color: #ffe54c;
          width: 100%;
          z-index: -1;
          position: absolute;
          height: 100%;
          top: 7px;
          left: 7px;
          transition: 0.2s;
        }
        
        .button:hover:after {
          top: 0px;
          left: 0px;
        }
        
        @media (min-width: 768px) {
          .button {
            padding: 13px 50px 13px;
          }

img.frank_test {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

P {
    font-family: 'Titillium Web', sans-serif; 
    color: #2c1b15;
    background-color: #d7ad8c;


/* contact form

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #a09b45;
}

/* Add a background color and some padding around the form */
.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
        }

        #1370AF, #FCF30A, #CA8B77, #DBB69A, #423629, #1C1915



  /* CSV */
/*3c312a,986952,e2dfd8,ba8d06,d7ad8c,de890d,2c1b15,202429,949796,9e807f

